<footer>
  <div class="container">
    <div class="text-center text-muted">
      <h3 class="logo mt-5">Webo.inc</h3>
      <span class="mt-3"> &copy; 2018 Webo </span>
      <div class="col">
        <div class="navigation mt-3">
          <a class="text-muted" routerLink="" href="">home</a>
          <a class="text-muted" routerLink="about" href="">.about</a>
          <a class="text-muted" routerLink="connectUs" href="">.connect us</a>
          <a class="text-muted" routerLink="projects" href=""> .projects</a>
        </div>
      </div>
      <div class="col">
        <div class="socile-media mt-3">
          <a href=""><i class="fab fa-github "></i></a>
          <a href="#"> <i class="fab fa-facebook"></i> </a>
          <a href="#"> <i class="fab fa-twitter"></i> </a>
        </div>
      </div>
    </div>
  </div>
</footer>
