<nav class="navbar navbar-expand-lg navbar-light  ">
  <div class="container p-3">
    <a class="navbar-brand" routerLink="" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active" href="#">About us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " routerLink="connectUs" routerLinkActive="active" href="#">Connect us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="blog" routerLinkActive="active" href="#">Blog</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
          <a href="#"> <i class="fab fa-facebook"></i> </a>
          <a href="#"> <i class="fab fa-twitter"></i> </a>
          <a href="#"> <i class="fab fa-tumblr"></i> </a>
          <a href="#"> <i class="fab fa-youtube"> </i> </a>
        </li>
      </ul>
    </div>
  </div>
</nav>