

nav ul li .nav-link  {
    font-weight: bold;
    margin: 0 20px;

}
.navbar-brand
{
  font-family: 'Pacifico', cursive !important;
  font-size: 1.5rem;

}
.navbar-nav {
    margin-left: 109px;

}
.navbar-nav li a i  {
    margin : 0 0.5rem;
    color: black;
}
nav{
  background-color: #fff;
  -webkit-box-shadow: 0 8px 5px -8px #999;
  -moz-box-shadow: 0 8px 5px -8px #999;
  box-shadow: 0 8px 5px -8px #999;
}
