<!--
<div class="web-dev container ">
  <div class="row">
    <div class="col-lg-6 " >
      <h2 class="item" >Dynamic and Responsive Websites
      </h2>
      <ul class="mt-4 text-muted " >
        <li class="item " >Web Interface That Responds to Your Users</li>
        <li class="item "  >Fully Scalable and Liquid Layouts
        </li>
        <li class="item ">Data-Driven Websites
        </li>
        <li class="item " >Completely Optimized Source Code for Search Engine Optimized Websites
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid " src="../../../assets/SVG/undraw_web_devices_ad58.svg" alt="web devises illistrations">
    </div>
  </div>
</div> -->
