<div class="container">
    <header>
        <div class="row">
            <div class="col-lg-6">
                <div class="main-header">
                    <h1 class="mb-4"> We Are Desgine Things..
                    </h1>
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia tenetur
                        obcaecati quam velit
                        praesentium atque doloremque tempore sit blanditiis in sapiente odio nulla voluptatibus, eum
                        quibusdam officia. Voluptates, quo quod.</p>
                </div>
            </div>
            <div class="col-lg-6  ">
                <img class=" img-header " src="../../../assets/SVG/undraw_version_control_9bpv.svg" alt="Design illistration">
            </div>
        </div>
    </header>
    
</div>