<div class="container p-5">
  <h3>Our Blog</h3>
  <br />
  <flash-messages></flash-messages>
  <div class="row">
    <div
      style="margin: 0 30px;"
      *ngFor="let articel of articels"
      class="card blog rounded shadow mb-4"
      [ngsRevealSet]="{ reset: true }"
      [ngsInterval]="50"
      [ngsSelector]="'.blog'"
    >
      <img
        style="width: 269px; height: 200px;"
        class="card-img-top img-fluid"
        src="{{articel.imageUrl}}"
        alt="Card image cap"
      />
      <div class="card-body">
        <div class="card-title">{{ articel.title }}</div>
        <div class="card-text">
          <a href="" [routerLink]="['/blog', articel.id]">Read More...</a>
        </div>
      </div>
    </div>
  </div>
</div>
